html {
	font-size: 16px;
}
body {
	color: var(--g-color-black);
}
.section {
	padding: 50px;
}
#file {
	display: none;
}
.button {
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
	font-size: .9rem;
	font-weight: bold;
	background-color: var(--g-color-1);
	color: var(--g-color-white);
	cursor: pointer;
}
.file-button {
	padding: 10px;
	font-size: 16px;
}
.submit {
	position: relative;
	z-index: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	background-color: var(--g-color-2);
	color: var(--g-color-white);
}
.folder {
	width: 0;
	opacity: 0;
	position: relative;
	left: -50%;
	padding: 8px;
	border-radius: 50px;
	border-style: solid;
	border-color: var(--g-color-2);
	letter-spacing: 1px;
	transition: .5s;
	transition-timing-function: ease-in-out;
}
.folder:focus {
	outline: none;
}
.active-folder {
	width: 150px;
	opacity: 1;
	left: 0;
}
.fa-plus,
.fa-cloud-upload-alt,
.fa-folder-plus {
	margin-right: 5px;
}
.fa-check-circle,
.fa-times-circle {
	margin-left: 10px;
	opacity: 0;
	animation-name: check-circle;
	animation-fill-mode: forwards;
	animation-duration: .5s;
}
@keyframes check-circle {
	form {
		opacity: 0;
		font-size: 15px;
	}
	to {
		opacity: 1;
		font-size: 25px;
	}
}
.add-folder {
	overflow: hidden;
}
.addFolder-handle {
	transition: .3s;
	transition-timing-function: ease-in-out;
}
.error-false,
.error-true {
	font-weight: bold;
	font-size: 16px;
	vertical-align: middle;
}
.error-false {
	color: var(--g-color-2);
}
.error-true {
	color: var(--g-color-red);
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
}
.content-load {
	width: 100%;
	height: 200px;
	background-image: url('https://www.kayseriulasim.com/images/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.navigation-pagination {
	position: absolute;
	right: 0;
}
.uploaded,
.error-upload {
	min-height: 40px;
	position: absolute;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 20px;
	font-weight: bold;
}
.uploaded {
	color: var(--g-color-2);
}
.error-upload {
	color: var(--g-color-red);
}
.pagination {
	justify-content: flex-end;
}
.table td,
.table th {
	padding: 1rem;
	vertical-align: middle;
}
.column-heading {
	display: inline;
	cursor: pointer;
}
.tableItem:hover .form-rename {
	background-color: #43494e;
}
.tableItem:hover .input-rename {
	background-color: #43494e;
}
.tableItem-title {
	width: 205px;
	overflow-x: scroll;
}
.tableItem-title::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.form-rename {
	position: absolute;
	z-index: 1;
	display: none;
	background-color: #343a40;
}
.input-rename {
	max-width: 100px;
	border: none;
	letter-spacing: 1px;
	font-family: sans-serif;
	background-color: #343a40;
	color: var(--g-color-white);
}
.input-rename:focus {
	outline: none;
}
.submit-rename {
	padding: 5px;
	font-size: 10px;
	background-color: var(--g-color-grey);
}
.handle-rename {
	width: 205px;
}
.rename {
	background-color: var(--g-color-2);
	color: var(--g-color-white) !important;
	text-decoration: none !important;
	transition: all .2s ease-in-out;
}
.erorr-rename {
	margin-top: -1.2rem;
	font-size: 0.8444rem;
	color: var(--g-color-red);
}
.change-rename {
	margin-top: -1.2rem;
	font-size: 0.8444rem;
	color: var(--g-color-2);
}
.delete {
	background-color: var(--g-color-red);
	color: var(--g-color-white) !important;
	text-decoration: none !important;
	transition: all .2s ease-in-out;
}
.rename:hover,
.delete:hover {
	background-color: var(--g-color-grey);
	color: var(--g-color-white) !important;
}
.current-page {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.column-heading a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}
.sort-up-anim,
.sort-up,
.sort-down,
.sort-up-anim a,
.sort-up a,
.sort-down a {
	color: var(--g-color-1);
}
.sort-up-anim i {
	animation-name: sortUp;
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
@keyframes sortUp {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
.sort-up i {
	transform: rotate(180deg);
}
@media (max-width: 991.888px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 767.888px) {
	html {
		font-size: 12px;
	}
}
